@view-transition {
    navigation: auto;
}

.block_nupp {
    height: 25px;
    width: 25px;
    position: relative;
    top: 10px;
}


@media (max-width: 822px) {
    td:before {
        content: attr(data-label);
        color: #6A7D6F;
        justify-content: flex-end;
    }
    td:nth-child(2):before { content: "Username"; }
    td:nth-child(3):before { content: "Email"; }
    td:nth-child(4):before { content: "Password"; }

    .block_nupp {
        top: 5px;
    }
}
